body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.list-group-item.no-border,
.card.no-border
{
  border: none;
}

.fa.fa-star.cs4500-yellow {
  color: gold;
}


.nav.nav-pills .nav-item {
  margin-left: 10px;
  background-color: white;
}

.nav-pills :hover {
  background-color : #a0e3ef;
  color: black
}

.wd-shadow {
  box-shadow: 0 0 15px #aaa;
}

.wd-padding-20 {
  padding: 20px;
}

.wd-font-size-2-em {
  font-size: 2em !important;
}

.box-layout {
  /* background: linear-gradient(#e66465, #9198e6); */
  background: linear-gradient(#e66465, #9198e6);;
  /* // background: url('/img/money.jfif'); */
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: contain;
  height: 80vh;
  /* width: 100vw; */
}

.box-layout_box {
  background: fade-out($color: white, $amount: 0.6);
  border-radius: 10px;
  text-align: center;
  width: 25rem;
  height: 26rem;
  padding: 3.2rem 5rem;
}


.button {
  background: linear-gradient(#9198e6, #e66465);
  border: none;
  color: white;
  font-weight: 400;
  font-size: 1.3rem;
  margin: 0.8rem;
  padding: 0.4rem;
  border-radius: 15px;
}